/* CSS declarations go here */
/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #303030 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
.images{
    height:200px;
    width:200px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 50%;
  background: transparent;
}
a{
    color:white;
}
header {
  background: #303030;
  color:azure;
  padding: 20px 15px 15px 15px;
  position: relative;
  padding:125px;
}

#login-buttons {
  display: block;
}

#loginHeader{
    text-align:center;
    
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  font-family:  monospace;
  color:ghostwhite;
}
p{
    color: black;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}



.search {
width: 150px;
clear: both;
}

.new-task input {
  padding-bottom: 5px;
}

.jumbotron {
    color: black;
    background-color: transparent;
    text-align: center;
}

.navbar-brand {
  float: left;
  padding: 20.5px 15px;
  font-size: 20px;
  line-height: 24px;
  height: 65px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
  }
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #babbbf;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-brand {
  background: url('https://sp-bootstrap.s3.amazonaws.com/images/logo.png') 0 12px no-repeat;
  font-weight: 200;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 43px;
  padding: 22px 0 0 43px;
}

@media (min-width: 992px) {
  .navbar-brand {
    width: auto;
    padding-left: 136px;
  }
}

.navbar-brand > span {
  border-left: 1px solid #6f7073;
  padding: 10px 5px 10px 10px;
  margin-left: 130px;
  color: white;
}

.navbar > .container .navbar-brand {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
}

.navbar {
  background-color: transparent;
}