

<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

  <template name="home">
    <header>  
      <div class="cotainer">
       
       <h1> {{artistObj.name}} </h1>
        <p><img class="images" src="{{ imageUrl }}"/> </p>
        <p>  Artist ID: {{ artistObj.id }}  </p>
        <p>  Genre: {{artistObj.genres}} </p>               
        <p> <a href= "{{artistObj.href}}">JSON Object</a></p>
        <p> <a href= "{{artistObj.external_urls.spotify}}">...on Spotify</a></p>
      </div>
    </header>
      
  </template>

<template name="user">
    <div class="container">
    <h1>Hello, {{user.name}}</h1>
        
    </div>

</template>


<template name="login">
   <div class="container">
      <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><span>Simplist</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="options" class="nav navbar-nav navbar-right">
              <li><a class="option" 
                href="" 
                id='show-about'>About</a></li>
          </ul>
        </div>
      </div>
      </div>
    <br><br><br><br>

    <div class="jumbotron">
      <h1>Simplist</h1>
      <p>Dynamic playlist generated based on user's followers</p>
      
      <p><button  id="spotifyLogin" type="submit" class="btn btn-large btn-success">Login with Spotify</button></p>


    
    <button id="getMe" type="submit" class="btn btn-large btn-success">User Info</button>
       <br><br>
    
   
        <input id='searchInput' type='text' name='userSearch'><br>
        <button id='searchButton' type="submit" value="Search">Search</button>
      
       
  
     <h1>{{#each friends}}
         <li> {{name}} </li>
       {{/each}}
     </h1>
   </div>
  </div>
  
      
</template>


